$brand-2 = #0065AD
$brand-3 = #008DF2
$brand-4 = #F0F000

// Text Colors
$text-1 = #13293F
$text-2 = #425466
$text-3 = #667380
$text-4 = #A1AAB3

// Utilities
$u-info = #3E78B3
$u-info-light = #B8CFE6
$u-info-shade = #0F3B66
$u-success = #3AA655
$u-success-light = #C3E6CC
$u-success-shade = #0D5920
$u-warning = #D9B64C
$u-warning-light = #FFF2CC
$u-warning-shade = #594509
$u-error = #CC4752
$u-error-light = #E6CFD0
$u-error-shade = #80131C
$u-links = #3986BD

// Grays
$gray-1 = #CED4D9
$gray-2 = #DAE1E6
$gray-3 = #E6EDF2
$gray-4 = #F2FAFF