// Wrapper without another div
wrapped($n = $desktop)
 padding-left 'calc(50% - (%s / 2))' % $n
 padding-right 'calc(50% - (%s / 2))' % $n

// Wrapper just left side
wrapped-left($n = $desktop)
 padding-left 'calc(50% - (%s / 2))' % $n

// Wrapper just left side
wrapped-right($n = $desktop)
 padding-right 'calc(50% - (%s / 2))' % $n
