h1
  font-family: Roboto;
  font-size: 1.5rem;
  color: $text-1;
  letter-spacing: 0; /*recheck*/
  line-height: 30px; /*recheck*/

h2
  font-family: Roboto;
  font-size: 1.25rem;
  color: $text-1;
  letter-spacing: 0; /*recheck*/
  line-height: 30px; /*recheck*/


p 
  font-family: Roboto
  font-size: 1rem
  color: $text-1
  letter-spacing: 0 /*recheck*/
  line-height: 30px /*recheck*/
  
