.title
  font-family Roboto
  font-size 1.25rem
  color $text-1
  letter-spacing 0 /*recheck*/
  line-height 30px /*recheck*/
  
.title--main
  font-family Roboto
  font-size 1.5rem
  color $text-1
  letter-spacing 0 /*recheck*/
  line-height 30px /*recheck*/

p 
  font-family Roboto
  font-size 1rem
  color $text-1
  letter-spacing 0 /*recheck*/
  line-height 30px /*recheck*/

.tag
  font-family Roboto
  font-size .87rem
  color $text-1
  letter-spacing 0.5px /*recheck*/
  line-height 21px
  text-transform uppercase
