.about
  wrapped(600px)
  height 108vh
  background url(/img/eliot-about.png) no-repeat center bottom
  text-align center

  +below(75rem)
    wrapped-left(80%)
    wrapped-right(80%)

  .title
    color $brand-3
    padding-top 1rem
