.btn
  background-color transparent
  border none
  display inline-block
  border-radius 4px
  text-decoration none
  text-transform uppercase
  height 2.5rem
  
  &--primary
    color white
    background-color $brand-3
    

    
