.callToAction
    width 100%
    display flex
    justify-content space-between
    align-items center
    position relative
    height 500px
    
.callToAction-col
    lost-column 1/2
    text-align center
    align-items center