.callToAction
    width 100%
    display flex
    justify-content center
    align-items center
    position relative
    height 300px
    margin-bottom 2rem

.callToAction-col
    text-align center
    align-items center
