.clients
  background-color $brand-2
  display flex
  align-items center
  flex-direction column
  padding 2rem 0 6rem 0

.clients-logos
  display flex
  justify-content space-between
  width 70%
  align-items center
  margin-top 2rem

.clients p
  width 30%
  text-align center
  color white
