.features
  wrapped()
  display flex
  flex-wrap wrap

  h2
    color $brand-2

.features--center
  display inline-block
  text-align center
  background $brand-3 url(/img/eliot-collaboration.png) no-repeat center bottom
  height 100vh
  padding-top 2rem

  .title--large
    color white
    font-weight 300

  p
    wrapped(600px)
    color white
