.features
  wrapped()
  display flex
  flex-wrap wrap
  align-items center

.features--center
  wrapped
  display inline-block
  text-align center
  background $brand-3 url(/img/eliot-collaboration.png) no-repeat
  height 100vh
  