.features
  wrapped()
  display flex
  flex-wrap wrap

  h2
    color $brand-2

.features--center
  display inline-block
  text-align center
  background $brand-3 url(/img/eliot-collaboration.png) no-repeat center bottom
  height 100vh
  padding-top 2rem

  +below(75rem)
    background $brand-3
    height 60%
    padding 4rem 0

  .title--large
    color white
    font-weight 300

  p
    wrapped(600px)
    color white

    +below(75rem)
      wrapped-left(90%)
      wrapped-right(90%)
