.feature
  display flex
  align-items center
  justify-content space-between
  margin-bottom 1rem

  +below(75rem)
    flex-direction column
    justify-content center
    margin 2rem 0
    wrapped-left(90%)
    wrapped-right(90%)

  &-description
    lost-column 1/3

    +below(75rem)
      lost-column 3/3
      wrapped-left(90%)
      wrapped-right(90%)

  &-img
    lost-column 2/3

    +below(75rem)
      display none
