.header
  wrapped()
  display flex
  align-items center
  justify-content space-between
  position fixed
  top 2rem
  right 0
  left 0

  +below(75rem)
    wrapped-left(90%)
    wrapped-right(90%)
    height auto

.header.is-scrolled,
.header.is-static
  background-color rgba(0,40,69,0.80)
  shadow()
  top 0
  padding-top 1rem
  padding-bottom 1rem
  z-index 1
