.home-main
  background-image: linear-gradient(45deg, #0065AD 0%, #002845 100%)
  display flex
  text-align center
  align-content center
  height 100vh
  
.home-main-description
  margin auto
  .tag
    color $brand-4

  /* Mask: */
