.unslider-nav
  border-bottom 1px solid white
  padding 2rem 0
  position absolute
  top 0
  left 0
  right 0

  +below(75rem)
    padding-left 2rem

.unslider-nav ol
  list-style none
  text-align center

  li
    display inline-block
    cursor pointer
    color white
    margin-right 6rem
    position relative
    z-index 2

    &::before
      position absolute
      top 50%
      left -2.5rem
      width 30px
      height 30px
      content ""
      transform translateY(-50%)

  li:nth-child(1):before
    background url("/img/icon-1.svg") 50% no-repeat

  li:nth-child(2):before
    background url("/img/icon-2.svg") 50% no-repeat

  li:nth-child(3):before
    background url("/img/icon-3.svg") 50% no-repeat

  li:nth-child(3)
    margin-right 0


.unslider-arrow
  position absolute
  top 50%

  +below(75rem)
    display none

.unslider-arrow.prev
  left -100px

.unslider-arrow.next
  right -100px

.unslider-active
  font-weight 900

.unslider-list
  display flex
  margin-top 2rem

  +below(75rem)
    margin-bottom 2rem

  .list
    margin-right 2rem

    li
      margin-bottom 1rem
