.unslider-nav
  width 100%
  border-bottom 1px solid white
  padding 30px 0
  position absolute
  top 0
  
.unslider-nav ol 
  list-style none
  text-align center
  
  li 
    display inline-block
    cursor pointer
    color white
    margin 0 20px
    position relative
    z-index 2
    &::before
      background-color white
      display inline-block
      width 30px
      height 30px
      border-radius 50%
      content " "
      position relative
      left 24px
      top 8px
      z-index -1

.unslider-arrow
  position absolute
  top 50%
  transform translateY(-50%)
  
.unslider-active
  font-weight 900
  