.walkThrough
  background-color $brand-3
  align-items center


.walkThrough-description
  align-items center
  margin auto
  color white

.walkThrough-img
  lost-column 2/3
  
  img 
    width 700px

.walkThrough-slider
  position relative
  
  > ul 
    margin-top 100px
  
.walkThrough
  .unslider
      position relative
      // wrapped()