.walkThrough
  wrapped()
  background-color $brand-3
  align-items center
  
  li
    display flex

.walkThrough-description
  align-items center
  margin auto
  color white

.walkThrough-img
  lost-column 2/3
  
  img 
    width 700px
    