.walkThrough
  background-color $brand-3
  align-items center
  wrapped()
  display flex


.walkThrough-description
  align-items center
  lost-column 1/3
  color white

  h2
    color white
    font-weight 300

  p
    color white


.walkThrough-img
  lost-column 2/3

  +below(75rem)
    display none

  img
    width 100%

.walkThrough-slider
  position relative

  > ul
    margin-top 100px
    display flex

.walkThrough
  .unslider
      position relative
      overflow visible
